<a href="https://colab.research.google.com/github/JF11579/Colab/blob/main/Plotly_SD_Map_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Add new Data

### Add search box

### Add drop down or slelector

### Add county zoom

## Data sources

[Citizens Budget Commision](https://cbcny.org/research/mapping-school-aid-district)

[urban institute](https://educationdata.urban.org/documentation/school-districts.html)

[NYS Report Cards](https://reportcards.nysed.gov/)

[NYU list](https://steinhardt.nyu.edu/research-alliance/research/education-research-resources)

SAIPE (Small Area Income and Poverty Estimates) [link text](https://www.census.gov/programs-surveys/saipe.html)

This district-level database contains data on school districts from three sources: the National Center for Education Statistics’ Common Core of Data (CCD), the US Census Bureau’s Small Area Income and Poverty Estimates (SAIPE), and the US Department of Education’s EDFacts. CCD contains information on district characteristics, revenue, and spending, and SAIPE reports the number and share of children ages 5 to 17 living in poverty in each school district. EDFacts provides assessment and graduation rate data broken down by various subgroups

## Instructions

### [Use CSV created in Plotly_SD_map_3](https://colab.research.google.com/drive/1c5Fvt6J22_lcameF1F_SKl_YvtFkmBfF#scrollTo=ac_IEuSTF_HD)

## Packages

In [110]:
import pandas as pd
import numpy as np

## Data

[Original Data](https://drive.google.com/file/d/1WkXoV8HVVS5CSuvAhB4Eubtb3MC5tDxP/view?usp=share_link)

In [35]:
SD = pd.read_csv('/content/NYS_SD_shape_file.csv')

In [36]:
SD.head(3)

,Unnamed: 0,STATEFP,UNSDLEA,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,0,36,17730,9700000US3617730,3617730,Long Beach City School District,0,11104514,64418473,"POLYGON ((-73.70613 40.590958, -73.701075 40.5..."
1,1,36,18210,9700000US3618210,3618210,Malverne Union Free School District,0,5271104,539214,POLYGON ((-73.67603299999999 40.67129699999999...
2,2,36,28620,9700000US3628620,3628620,Taconic Hills Central School District,0,514785196,5711289,"POLYGON ((-73.745336 42.177504, -73.744393 42...."

In [37]:
SD.tail(3)

,Unnamed: 0,STATEFP,UNSDLEA,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
666,666,36,16960,9700000US3616960,3616960,North Warren Central School District,0,362756666,21762422,"POLYGON ((-73.966203 43.753474, -73.9083749999..."
667,667,36,26730,9700000US3626730,3626730,Sherman Central School District,0,267700339,712419,"POLYGON ((-79.7620878290939 42.2310995033323, ..."
668,668,36,24120,9700000US3624120,3624120,Raquette Lake Union Free School District,0,203350322,27700071,"POLYGON ((-74.82843 43.881569999999996, -74.77..."

## Get more data.

In [38]:
# Just realized Urban provides fetching code

# from urllib.request import urlopen
# from json import loads
# url = "https://educationdata.urban.org/api/v1/school-districts/ccd/directory/2013/"
# response = urlopen(url)
# data = loads(response.read())

In [102]:
# #Just realized Urban provides fetching code

# from urllib.request import urlopen
# from json import loads
# url = "https://educationdata.urban.org/api/v1/school-districts/ccd/directory/2013/"
# response = urlopen(url)
# data = loads(response.read())

In [135]:
import requests
import pandas as pd
import io

# URL of the text file
url = 'https://www2.census.gov/programs-surveys/saipe/datasets/2021/2021-school-districts/sd21-ny.txt'

# Use requests to download the file
response = requests.get(url)

# Create a BytesIO object and pass the content of the response object to it
data = io.BytesIO(response.content)

# Use Pandas to read the text data into a DataFrame
SAIPE = pd.read_csv(data)

# Display the DataFrame
print(SAIPE)

    36 02370 Addison Central School District                                              6697     1281      210 sd21-ny.txt 30NOV2022
0    36 05040 Adirondack Central School District   ...
1    36 02400 Afton Central School District        ...
2    36 02430 Akron Central School District        ...
3    36 02460 Albany City School District          ...
4    36 02520 Albion Central School District       ...
..                                                 ...
675  36 31860 Wyoming Central School District      ...
676  36 31920 Yonkers City School District         ...
677  36 31950 York Central School District         ...
678  36 08970 Yorkshire-Pioneer Central School Dist...
679  36 31980 Yorktown Central School District     ...

[680 rows x 1 columns]

In [136]:
import pandas as pd
import io
import requests

# URL of the text file
url = 'https://www2.census.gov/programs-surveys/saipe/datasets/2021/2021-school-districts/sd21-ny.txt'

# Use requests to download the file
response = requests.get(url)

# Create a BytesIO object and pass the content of the response object to it
data = io.BytesIO(response.content)

# Use Pandas to read the text data into a DataFrame with a single column
df = pd.read_csv(data, header=None)

# Split the single column into multiple columns based on white space
df = df[0].str.split(expand=True)

# Rename the columns of the new DataFrame
df.columns = ['col1', 'col2', 'col3','four' ,'five', 'six', 'seven', 'eight', 'nine', 'ten',
              'eleven', 'twelve', 'thriteen', 'fourteen', 'fifteen' , 'sixteen' ]

# Display the DataFrame
print(df)

    col1   col2               col3     four    five       six   seven  eight  \
0     36  02370            Addison  Central  School  District    6697   1281
1     36  05040         Adirondack  Central  School  District    8549   1313
2     36  02400              Afton  Central  School  District    3649    552
3     36  02430              Akron  Central  School  District    9249   1415
4     36  02460             Albany     City  School  District   98876  11755
..   ...    ...                ...      ...     ...       ...     ...    ...
676   36  31860            Wyoming  Central  School  District    1598    252
677   36  31920            Yonkers     City  School  District  210187  31235
678   36  31950               York  Central  School  District    4838    686
679   36  08970  Yorkshire-Pioneer  Central  School  District   15635   2525
680   36  31980           Yorktown  Central  School  District   20740   3807

     nine          ten     eleven twelve thriteen fourteen fifteen sixteen
0     210  sd21-ny.txt  30NOV2022   None     None     None    None    None
1     204  sd21-ny.txt  30NOV2022   None     None     None    None    None
2      99  sd21-ny.txt  30NOV2022   None     None     None    None    None
3     157  sd21-ny.txt  30NOV2022   None     None     None    None    None
4    3334  sd21-ny.txt  30NOV2022   None     None     None    None    None
..    ...          ...        ...    ...      ...      ...     ...     ...
676    29  sd21-ny.txt  30NOV2022   None     None     None    None    None
677  6288  sd21-ny.txt  30NOV2022   None     None     None    None    None
678    85  sd21-ny.txt  30NOV2022   None     None     None    None    None
679   404  sd21-ny.txt  30NOV2022   None     None     None    None    None
680   206  sd21-ny.txt  30NOV2022   None     None     None    None    None

[681 rows x 16 columns]

In [137]:
df.head(50)

,col1,col2,col3,four,five,six,seven,eight,nine,ten,eleven,twelve,thriteen,fourteen,fifteen,sixteen
0,36,02370,Addison,Central,School,District,6697,1281,210,sd21-ny.txt,30NOV2022,None,None,None,None,None
1,36,05040,Adirondack,Central,School,District,8549,1313,204,sd21-ny.txt,30NOV2022,None,None,None,None,None
2,36,02400,Afton,Central,School,District,3649,552,99,sd21-ny.txt,30NOV2022,None,None,None,None,None
3,36,02430,Akron,Central,School,District,9249,1415,157,sd21-ny.txt,30NOV2022,None,None,None,None,None
4,36,02460,Albany,City,School,District,98876,11755,3334,sd21-ny.txt,30NOV2022,None,None,None,None,None
5,36,02520,Albion,Central,School,District,14000,1841,412,sd21-ny.txt,30NOV2022,None,None,None,None,None
6,36,02550,Alden,Central,School,District,12838,1801,121,sd21-ny.txt,30NOV2022,None,None,None,None,None
7,36,02580,Alexander,Central,School,District,5043,850,94,sd21-ny.txt,30NOV2022,None,None,None,None,None
8,36,02670,Alexandria,Central,School,District,3594,553,103,sd21-ny.txt,30NOV2022,None,None,None,None,None
9,36,02700,Alfred-Almond,Central,School,District,7102,596,65,sd21-ny.txt,30NOV2022,None,None,None,None,None
10,36,00015,Allegany-Limestone,Central,School,District,8799,1219,167,sd21-ny.txt,30NOV2022,None,None,None,None,None
11,36,02820,Altmar-Parish-Williamstown,Central,School,District,7183,1237,298,sd21-ny.txt,30NOV2022,None,None,None,None,None
12,36,02880,Amagansett,Union,Free,School,District,2233,305,34,sd21-ny.txt,30NOV2022,None,None,None,None
13,36,02920,Amherst,Central,School,District,24186,3546,399,sd21-ny.txt,30NOV2022,None,None,None,None,None
14,36,02940,Amityville,Union,Free,School,District,27460,3689,410,sd21-ny.txt,30NOV2022,None,None,None,None
15,36,02970,Amsterdam,City,School,District,25306,4042,1114,sd21-ny.txt,30NOV2022,None,None,None,None,None
16,36,03000,Andes,Central,School,District,1029,66,12,sd21-ny.txt,30NOV2022,None,None,None,None,None
17,36,03030,Andover,Central,School,District,1960,298,46,sd21-ny.txt,30NOV2022,None,None,None,None,None
18,36,03180,Ardsley,Union,Free,School,District,11244,2369,76,sd21-ny.txt,30NOV2022,None,None,None,None
19,36,03210,Argyle,Central,School,District,3812,488,61,sd21-ny.txt,30NOV2022,None,None,None,None,None
20,36,03240,Arkport,Central,School,District,2849,415,57,sd21-ny.txt,30NOV2022,None,None,None,None,None
21,36,03270,Arlington,Central,School,District,57358,8646,635,sd21-ny.txt,30NOV2022,None,None,None,None,None
22,36,03420,Attica,Central,School,District,11620,1419,108,sd21-ny.txt,30NOV2022,None,None,None,None,None
23,36,16170,AuSable,Valley,Central,School,District,9021,1176,225,sd21-ny.txt,30NOV2022,None,None,None,None
24,36,03480,Auburn,City,School,District,32476,4394,1069,sd21-ny.txt,30NOV2022,None,None,None,None,None
25,36,00016,Averill,Park,Central,School,District,18385,2861,183,sd21-ny.txt,30NOV2022,None,None,None,None
26,36,03630,Avoca,Central,School,District,3314,545,101,sd21-ny.txt,30NOV2022,None,None,None,None,None
27,36,03660,Avon,Central,School,District,6955,954,64,sd21-ny.txt,30NOV2022,None,None,None,None,None
28,36,03720,Babylon,Union,Free,School,District,11893,1779,61,sd21-ny.txt,30NOV2022,None,None,None,None
29,36,03810,Bainbridge-Guilford,Central,School,District,5111,810,151,sd21-ny.txt,30NOV2022,None,None,None,None,None
30,36,03840,Baldwin,Union,Free,School,District,34284,5401,373,sd21-ny.txt,30NOV2022,None,None,None,None
31,36,03870,Baldwinsville,Central,School,District,37556,6202,462,sd21-ny.txt,30NOV2022,None,None,None,None,None
32,36,03930,Ballston,Spa,Central,School,District,31274,4291,404,sd21-ny.txt,30NOV2022,None,None,None,None
33,36,03960,Barker,Central,School,District,4740,804,111,sd21-ny.txt,30NOV2022,None,None,None,None,None
34,36,03990,Batavia,City,School,District,18469,2612,457,sd21-ny.txt,30NOV2022,None,None,None,None,None
35,36,04050,Bath,Central,School,District,10436,1516,234,sd21-ny.txt,30NOV2022,None,None,None,None,None
36,36,04080,Bay,Shore,Union,Free,School,District,35346,6022,485,sd21-ny.txt,30NOV2022,None,None,None
37,36,04110,Bayport-Blue,Point,Union,Free,School,District,13840,2176,61,sd21-ny.txt,30NOV2022,None,None,None
38,36,04140,Beacon,City,School,District,27606,2944,313,sd21-ny.txt,30NOV2022,None,None,None,None,None
39,36,04200,Beaver,River,Central,School,District,5614,981,119,sd21-ny.txt,30NOV2022,None,None,None,None
40,36,19950,Bedford,Central,School,District,28694,4579,592,sd21-ny.txt,30NOV2022,None,None,None,None,None
41,36,04290,Beekmantown,Central,School,District,13284,1996,362,sd21-ny.txt,30NOV2022,None,None,None,None,None
42,36,04350,Belfast,Central,School,District,2235,384,83,sd21-ny.txt,30NOV2022,None,None,None,None,None
43,36,04370,Belleville,Henderson,Central,School,District,3258,578,120,sd21-ny.txt,30NOV2022,None,None,None,None
44,36,04410,Bellmore,Union,Free,School,District,12638,1044,37,sd21-ny.txt,30NOV2022,None,None,None,None
45,36,19020,Bellmore-Merrick,Central,High,School,District,70950,6039,160,sd21-ny.txt,30NOV2022,None,None,None,None
46,36,04530,Bemus,Point,Central,School,District,4814,715,88,sd21-ny.txt,30NOV2022,None,None,None,None
47,36,04620,Berlin,Central,School,District,6320,853,111,sd21-ny.txt,30NOV2022,None,None,None,None,None
48,36,04650,Berne-Knox-Westerlo,Central,School,District,6243,852,85,sd21-ny.txt,30NOV2022,None,None,None,None,None
49,36,04710,Bethlehem,Central,School,District,28530,4682,149,sd21-ny.txt,30NOV2022,None,None,None,None,None

Some of the school district names are not 3 words long but four.  concatenating put text into numeric cols.

Instead lets insert a blank column and then relocate it.before the numbers and concatenate that.  Any fourth wor should land there.

In [126]:
# insert empty col btwn cols 6&7

df.insert(6, 'inserted_col' , np.nan)

In [127]:
df.head()

,col1,col2,col3,four,five,six,inserted_col,seven,eight,nine,ten,eleven,twelve,thriteen,fourteen,fifteen,sixteen
0,36,02370,Addison,Central,School,District,NaN,6697,1281,210,sd21-ny.txt,30NOV2022,None,None,None,None,None
1,36,05040,Adirondack,Central,School,District,NaN,8549,1313,204,sd21-ny.txt,30NOV2022,None,None,None,None,None
2,36,02400,Afton,Central,School,District,NaN,3649,552,99,sd21-ny.txt,30NOV2022,None,None,None,None,None
3,36,02430,Akron,Central,School,District,NaN,9249,1415,157,sd21-ny.txt,30NOV2022,None,None,None,None,None
4,36,02460,Albany,City,School,District,NaN,98876,11755,3334,sd21-ny.txt,30NOV2022,None,None,None,None,None

In [ ]:
# making sure that I dont concatenate the wrong col 
# becasue Py starts counting at 0, sometimes.
#. df['six'] = District

In [128]:
# Concatenate columns 3 through 6 with a space between words
df['District_Name'] = df.iloc[:, 3:7].apply(lambda x: ' '.join(x.astype(str)), axis=1)

# Display the DataFrame
print(df)

    col1   col2               col3     four    five       six  inserted_col  \
0     36  02370            Addison  Central  School  District           NaN
1     36  05040         Adirondack  Central  School  District           NaN
2     36  02400              Afton  Central  School  District           NaN
3     36  02430              Akron  Central  School  District           NaN
4     36  02460             Albany     City  School  District           NaN
..   ...    ...                ...      ...     ...       ...           ...
676   36  31860            Wyoming  Central  School  District           NaN
677   36  31920            Yonkers     City  School  District           NaN
678   36  31950               York  Central  School  District           NaN
679   36  08970  Yorkshire-Pioneer  Central  School  District           NaN
680   36  31980           Yorktown  Central  School  District           NaN

      seven  eight  nine          ten     eleven twelve thriteen fourteen  \
0      6697   1281   210  sd21-ny.txt  30NOV2022   None     None     None
1      8549   1313   204  sd21-ny.txt  30NOV2022   None     None     None
2      3649    552    99  sd21-ny.txt  30NOV2022   None     None     None
3      9249   1415   157  sd21-ny.txt  30NOV2022   None     None     None
4     98876  11755  3334  sd21-ny.txt  30NOV2022   None     None     None
..      ...    ...   ...          ...        ...    ...      ...      ...
676    1598    252    29  sd21-ny.txt  30NOV2022   None     None     None
677  210187  31235  6288  sd21-ny.txt  30NOV2022   None     None     None
678    4838    686    85  sd21-ny.txt  30NOV2022   None     None     None
679   15635   2525   404  sd21-ny.txt  30NOV2022   None     None     None
680   20740   3807   206  sd21-ny.txt  30NOV2022   None     None     None

    fifteen sixteen                District_Name
0      None    None  Central School District nan
1      None    None  Central School District nan
2      None    None  Central School District nan
3      None    None  Central School District nan
4      None    None     City School District nan
..      ...     ...                          ...
676    None    None  Central School District nan
677    None    None     City School District nan
678    None    None  Central School District nan
679    None    None  Central School District nan
680    None    None  Central School District nan

[681 rows x 18 columns]

In [ ]:
df.head(50)

In [129]:
# We also need to concatenate cols 9:11

df['Tag_Name_Date'] = df.iloc[:, 11:12].apply(lambda x: ' '.join(x.astype(str)), axis=1)

# Display the DataFrame
print(df)

    col1   col2               col3     four    five       six  inserted_col  \
0     36  02370            Addison  Central  School  District           NaN
1     36  05040         Adirondack  Central  School  District           NaN
2     36  02400              Afton  Central  School  District           NaN
3     36  02430              Akron  Central  School  District           NaN
4     36  02460             Albany     City  School  District           NaN
..   ...    ...                ...      ...     ...       ...           ...
676   36  31860            Wyoming  Central  School  District           NaN
677   36  31920            Yonkers     City  School  District           NaN
678   36  31950               York  Central  School  District           NaN
679   36  08970  Yorkshire-Pioneer  Central  School  District           NaN
680   36  31980           Yorktown  Central  School  District           NaN

      seven  eight  nine          ten     eleven twelve thriteen fourteen  \
0      6697   1281   210  sd21-ny.txt  30NOV2022   None     None     None
1      8549   1313   204  sd21-ny.txt  30NOV2022   None     None     None
2      3649    552    99  sd21-ny.txt  30NOV2022   None     None     None
3      9249   1415   157  sd21-ny.txt  30NOV2022   None     None     None
4     98876  11755  3334  sd21-ny.txt  30NOV2022   None     None     None
..      ...    ...   ...          ...        ...    ...      ...      ...
676    1598    252    29  sd21-ny.txt  30NOV2022   None     None     None
677  210187  31235  6288  sd21-ny.txt  30NOV2022   None     None     None
678    4838    686    85  sd21-ny.txt  30NOV2022   None     None     None
679   15635   2525   404  sd21-ny.txt  30NOV2022   None     None     None
680   20740   3807   206  sd21-ny.txt  30NOV2022   None     None     None

    fifteen sixteen                District_Name Tag_Name_Date
0      None    None  Central School District nan     30NOV2022
1      None    None  Central School District nan     30NOV2022
2      None    None  Central School District nan     30NOV2022
3      None    None  Central School District nan     30NOV2022
4      None    None     City School District nan     30NOV2022
..      ...     ...                          ...           ...
676    None    None  Central School District nan     30NOV2022
677    None    None     City School District nan     30NOV2022
678    None    None  Central School District nan     30NOV2022
679    None    None  Central School District nan     30NOV2022
680    None    None  Central School District nan     30NOV2022

[681 rows x 19 columns]

In [130]:
df.head(3)

,col1,col2,col3,four,five,six,inserted_col,seven,eight,nine,ten,eleven,twelve,thriteen,fourteen,fifteen,sixteen,District_Name,Tag_Name_Date
0,36,02370,Addison,Central,School,District,NaN,6697,1281,210,sd21-ny.txt,30NOV2022,None,None,None,None,None,Central School District nan,30NOV2022
1,36,05040,Adirondack,Central,School,District,NaN,8549,1313,204,sd21-ny.txt,30NOV2022,None,None,None,None,None,Central School District nan,30NOV2022
2,36,02400,Afton,Central,School,District,NaN,3649,552,99,sd21-ny.txt,30NOV2022,None,None,None,None,None,Central School District nan,30NOV2022

In [131]:
# # Drop some of these columns
# # df = df.drop(columns=['col2', 'col4'])

df = df.drop(columns=['col3', 'four', 'five' , 'six' ,
                      'inserted_col',
                           'ten' , 'eleven', 'twelve','thriteen' , 
                      'fourteen' , 'fifteen' , 'sixteen' ])

In [134]:
df.head(50)

,col1,col2,seven,eight,nine,District_Name,Tag_Name_Date
0,36,02370,6697,1281,210,Central School District nan,30NOV2022
1,36,05040,8549,1313,204,Central School District nan,30NOV2022
2,36,02400,3649,552,99,Central School District nan,30NOV2022
3,36,02430,9249,1415,157,Central School District nan,30NOV2022
4,36,02460,98876,11755,3334,City School District nan,30NOV2022
5,36,02520,14000,1841,412,Central School District nan,30NOV2022
6,36,02550,12838,1801,121,Central School District nan,30NOV2022
7,36,02580,5043,850,94,Central School District nan,30NOV2022
8,36,02670,3594,553,103,Central School District nan,30NOV2022
9,36,02700,7102,596,65,Central School District nan,30NOV2022
10,36,00015,8799,1219,167,Central School District nan,30NOV2022
11,36,02820,7183,1237,298,Central School District nan,30NOV2022
12,36,02880,District,2233,305,Union Free School nan,sd21-ny.txt
13,36,02920,24186,3546,399,Central School District nan,30NOV2022
14,36,02940,District,27460,3689,Union Free School nan,sd21-ny.txt
15,36,02970,25306,4042,1114,City School District nan,30NOV2022
16,36,03000,1029,66,12,Central School District nan,30NOV2022
17,36,03030,1960,298,46,Central School District nan,30NOV2022
18,36,03180,District,11244,2369,Union Free School nan,sd21-ny.txt
19,36,03210,3812,488,61,Central School District nan,30NOV2022
20,36,03240,2849,415,57,Central School District nan,30NOV2022
21,36,03270,57358,8646,635,Central School District nan,30NOV2022
22,36,03420,11620,1419,108,Central School District nan,30NOV2022
23,36,16170,District,9021,1176,Valley Central School nan,sd21-ny.txt
24,36,03480,32476,4394,1069,City School District nan,30NOV2022
25,36,00016,District,18385,2861,Park Central School nan,sd21-ny.txt
26,36,03630,3314,545,101,Central School District nan,30NOV2022
27,36,03660,6955,954,64,Central School District nan,30NOV2022
28,36,03720,District,11893,1779,Union Free School nan,sd21-ny.txt
29,36,03810,5111,810,151,Central School District nan,30NOV2022
30,36,03840,District,34284,5401,Union Free School nan,sd21-ny.txt
31,36,03870,37556,6202,462,Central School District nan,30NOV2022
32,36,03930,District,31274,4291,Spa Central School nan,sd21-ny.txt
33,36,03960,4740,804,111,Central School District nan,30NOV2022
34,36,03990,18469,2612,457,City School District nan,30NOV2022
35,36,04050,10436,1516,234,Central School District nan,30NOV2022
36,36,04080,School,District,35346,Shore Union Free nan,485
37,36,04110,School,District,13840,Point Union Free nan,61
38,36,04140,27606,2944,313,City School District nan,30NOV2022
39,36,04200,District,5614,981,River Central School nan,sd21-ny.txt
40,36,19950,28694,4579,592,Central School District nan,30NOV2022
41,36,04290,13284,1996,362,Central School District nan,30NOV2022
42,36,04350,2235,384,83,Central School District nan,30NOV2022
43,36,04370,District,3258,578,Henderson Central School nan,sd21-ny.txt
44,36,04410,District,12638,1044,Union Free School nan,sd21-ny.txt
45,36,19020,District,70950,6039,Central High School nan,sd21-ny.txt
46,36,04530,District,4814,715,Point Central School nan,sd21-ny.txt
47,36,04620,6320,853,111,Central School District nan,30NOV2022
48,36,04650,6243,852,85,Central School District nan,30NOV2022
49,36,04710,28530,4682,149,Central School District nan,30NOV2022

In [78]:
df.columns = ['FIPS_State_Code', 'District_ID', 'Total_Pop', 'Children_Pop','Pop_Aged_5_to_17_Impovershed' ,
              'District_Name',  'Tag_FileName_Date', ]

In [91]:
df.head(50)

,FIPS_State_Code,District_ID,Total_Pop,Children_Pop,Pop_Aged_5_to_17_Impovershed,District_Name,Tag_FileName_Date
0,36,02370,6697,1281,210,Addison Central School District,sd21-ny.txt 30NOV2022
1,36,05040,8549,1313,204,Adirondack Central School District,sd21-ny.txt 30NOV2022
2,36,02400,3649,552,99,Afton Central School District,sd21-ny.txt 30NOV2022
3,36,02430,9249,1415,157,Akron Central School District,sd21-ny.txt 30NOV2022
4,36,02460,98876,11755,3334,Albany City School District,sd21-ny.txt 30NOV2022
5,36,02520,14000,1841,412,Albion Central School District,sd21-ny.txt 30NOV2022
6,36,02550,12838,1801,121,Alden Central School District,sd21-ny.txt 30NOV2022
7,36,02580,5043,850,94,Alexander Central School District,sd21-ny.txt 30NOV2022
8,36,02670,3594,553,103,Alexandria Central School District,sd21-ny.txt 30NOV2022
9,36,02700,7102,596,65,Alfred-Almond Central School District,sd21-ny.txt 30NOV2022
10,36,00015,8799,1219,167,Allegany-Limestone Central School District,sd21-ny.txt 30NOV2022
11,36,02820,7183,1237,298,Altmar-Parish-Williamstown Central School Dist...,sd21-ny.txt 30NOV2022
12,36,02880,District,2233,305,Amagansett Union Free School,34 sd21-ny.txt
13,36,02920,24186,3546,399,Amherst Central School District,sd21-ny.txt 30NOV2022
14,36,02940,District,27460,3689,Amityville Union Free School,410 sd21-ny.txt
15,36,02970,25306,4042,1114,Amsterdam City School District,sd21-ny.txt 30NOV2022
16,36,03000,1029,66,12,Andes Central School District,sd21-ny.txt 30NOV2022
17,36,03030,1960,298,46,Andover Central School District,sd21-ny.txt 30NOV2022
18,36,03180,District,11244,2369,Ardsley Union Free School,76 sd21-ny.txt
19,36,03210,3812,488,61,Argyle Central School District,sd21-ny.txt 30NOV2022
20,36,03240,2849,415,57,Arkport Central School District,sd21-ny.txt 30NOV2022
21,36,03270,57358,8646,635,Arlington Central School District,sd21-ny.txt 30NOV2022
22,36,03420,11620,1419,108,Attica Central School District,sd21-ny.txt 30NOV2022
23,36,16170,District,9021,1176,AuSable Valley Central School,225 sd21-ny.txt
24,36,03480,32476,4394,1069,Auburn City School District,sd21-ny.txt 30NOV2022
25,36,00016,District,18385,2861,Averill Park Central School,183 sd21-ny.txt
26,36,03630,3314,545,101,Avoca Central School District,sd21-ny.txt 30NOV2022
27,36,03660,6955,954,64,Avon Central School District,sd21-ny.txt 30NOV2022
28,36,03720,District,11893,1779,Babylon Union Free School,61 sd21-ny.txt
29,36,03810,5111,810,151,Bainbridge-Guilford Central School District,sd21-ny.txt 30NOV2022
30,36,03840,District,34284,5401,Baldwin Union Free School,373 sd21-ny.txt
31,36,03870,37556,6202,462,Baldwinsville Central School District,sd21-ny.txt 30NOV2022
32,36,03930,District,31274,4291,Ballston Spa Central School,404 sd21-ny.txt
33,36,03960,4740,804,111,Barker Central School District,sd21-ny.txt 30NOV2022
34,36,03990,18469,2612,457,Batavia City School District,sd21-ny.txt 30NOV2022
35,36,04050,10436,1516,234,Bath Central School District,sd21-ny.txt 30NOV2022
36,36,04080,School,District,35346,Bay Shore Union Free,6022 485
37,36,04110,School,District,13840,Bayport-Blue Point Union Free,2176 61
38,36,04140,27606,2944,313,Beacon City School District,sd21-ny.txt 30NOV2022
39,36,04200,District,5614,981,Beaver River Central School,119 sd21-ny.txt
40,36,19950,28694,4579,592,Bedford Central School District,sd21-ny.txt 30NOV2022
41,36,04290,13284,1996,362,Beekmantown Central School District,sd21-ny.txt 30NOV2022
42,36,04350,2235,384,83,Belfast Central School District,sd21-ny.txt 30NOV2022
43,36,04370,District,3258,578,Belleville Henderson Central School,120 sd21-ny.txt
44,36,04410,District,12638,1044,Bellmore Union Free School,37 sd21-ny.txt
45,36,19020,District,70950,6039,Bellmore-Merrick Central High School,160 sd21-ny.txt
46,36,04530,District,4814,715,Bemus Point Central School,88 sd21-ny.txt
47,36,04620,6320,853,111,Berlin Central School District,sd21-ny.txt 30NOV2022
48,36,04650,6243,852,85,Berne-Knox-Westerlo Central School District,sd21-ny.txt 30NOV2022
49,36,04710,28530,4682,149,Bethlehem Central School District,sd21-ny.txt 30NOV2022

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 681 entries, 0 to 680
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   FIPS_State_Code               681 non-null    object
 1   District_ID                   681 non-null    object
 2   Total_Pop                     681 non-null    object
 3   Children_Pop                  681 non-null    object
 4   Pop_Aged_5_to_17_Impovershed  681 non-null    object
 5   District_Name                 681 non-null    object
 6   Tag_FileName_Date             681 non-null    object
dtypes: object(7)
memory usage: 37.4+ KB

## Lets make a new variable .  Get the pct of children of the population

In [87]:
# Convert string columns to numeric format
df['Children_Pop'] = pd.to_numeric(df['Children_Pop'])
df['Total_Pop'] =    pd.to_numeric(df['Total_Pop'])

ValueError: ignored

In [81]:
df['Children_Pct'] = df['Children_Pop']/df['Total_Pop']

TypeError: ignored

Lets make a variable of the pct of children , of all children intbe SD that are impoversished

# Basement

In [104]:
import pandas as pd
import json

# Sample JSON dictionary
json_dict = {'name': ['John', 'Mary', 'Peter'],
             'age': [25, 30, 35],
             'city': ['New York', 'Paris', 'London']}

In [105]:
json_dict

{'name': ['John', 'Mary', 'Peter'],
 'age': [25, 30, 35],
 'city': ['New York', 'Paris', 'London']}

In [106]:
# Convert JSON dictionary to DataFrame
df = pd.DataFrame.from_dict(json_dict)

# Print DataFrame
print(df)

    name  age      city
0   John   25  New York
1   Mary   30     Paris
2  Peter   35    London